<h1 class="title-products">Products</h1>
<div class="subtitle">
    <h2 class="user-data">Welcome {{dataUser.first_name}} {{dataUser.last_name}} - role:{{dataUser.role}}</h2>
    <p class="logout" onclick="location.href='/logout'">Logout</p>
</div>
<div class="products-container">
{{#each products}}
    <div class="product-card">
        <div class="product-details">
            <h2 class="title">{{title}}</h2>
            <p class="category">Category: {{category}}</p>
            <p class="description">{{description}}</p>
            <p class="stock">Stock: {{stock}} units</p>
            <p class="price">${{price}}</p>
            <button id="add-to-cart" class="add-to-cart">Add to Cart</button>
        </div>
    </div>
{{/each}}
</div>
